table.header {
    text-align: center;
    color: white;
    width: 40%;
}

header.top {
    background-color: royalblue;
}

td.header {
    border-left: 5px solid white;
    text-align: left;
    padding-left: 22px;
}